$roboto-font: "Roboto", sans-serif;
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1281px,
);

$primary-color: rgba(171, 171, 171);
$services-bg-color: rgba(255, 255, 255, 0.25);
$bg-color: #2b2d38;
$secondary-color: rgba(219, 42, 107, 1);
$primary-size-text: 16px;
$secondary-size-text: 19px;
$third-size-text: 13px;
$tittle-size-text: 65px;
