@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
}
