@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.services {
  display: flex;
  gap: 30px;
  width: 60%;
  article {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      background-color: v.$services-bg-color;
      padding: 12px;
      border-radius: 16px;
      width: 60px;
    }
    p {
      color: white;
      font-size: v.$third-size-text;
      font-weight: 600;
    }
  }
}
