@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px 160px;
  overflow-x: hidden;
  background-color: v.$bg-color;
}

a {
  text-decoration: none;
  color: v.$primary-color;
  display: inline-block;
}
